*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* navbar */

.nav{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #131921;
  color: white;
}

/* navbar left design */

.nav-left{
  height: 60px;
  width: 340.03px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo{
  height: 50px;
  width: 130px;
  margin: 1px;
  padding: 1px 10px 0 6px;
  margin-left: 10px;
}

.logo{
  height: 40px;
  width: auto;
  background-image: url("/html/projects/Amazon/assets/images/amazon_logo.png");
  background-size: cover;
}

.border{
  border: 1.5px solid transparent;
  border-radius: 2px;
}

.border:hover{
  border: 1.5px solid white;
  border-radius: 2px;
}

.nav-address{
  padding: 5px 3px;
}

.add-icon{
  display: flex;
  align-items: center;
}

.add-1{
  color: #ccc;
  font-size: 0.75rem;
  margin-left: 20px;
  margin-top: 20px;
}

.add-2{
  font-size: 0.85rem;
  font-weight: 600;
  margin-left: 4px;
}

/* navbar fill design */

.nav-fill{
  height: 60px;
  width: 798.93px;
  align-content: center;
}

.nav-search{
  display: flex;
  justify-content: space-evenly;
  height: 38.4px;
  border-radius: 4px;
  background-color: orange;
  cursor: pointer;
}

.nav-search:hover{
  border: 3px solid orange;
}

.search-select{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  background-color: #f3f3f3;
  width: 45px;
  text-align: center;
  cursor: pointer;
}

.search-input{
  width: 100%;
  border: none;
  font-size: 1rem;
}

.search-icon{
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 900;
  color: #131921;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-icon:hover{
  background-color: #f5ac4c;
}

/* navbar right design */

.nav-right{
  height: 60px;
  width: 381.85px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.nav-language{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.38px;
  height: 55px;
  padding: 0 5px 7px 14px;
  margin: 3px 0 1px 1px;
}

.nav-icon{
  margin-top: 25px;
  height: 16px;
  width: 20px;
}

.logo-1{
  background-image: url("/html/projects/Amazon/assets/images/indian-flag-illustrator-country-flags_1082479-19135.webp");
  height: 100%;
  width: 100%;
  background-size: cover;
}

.nav-lang{
  margin-left: 5px;
  margin-top: 25px;
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-signin{
  align-content: center;
  justify-content: center;
  width: 141.53px;
  height: 55px;
  padding-left: 9px;
  padding-right: 8px;
  margin: 2px 0 1px 1px;
}

.nav-return{
  align-content: center;
  justify-content: center;
  width: 76.95px;
  height: 50px;
  padding: 0 8px 8px 8px;
  margin: 7px 0 1px 0;
}

.nav-first{
  font-size: 0.75rem;
}

.nav-second{
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-cart{
  align-content: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: 700;
  margin: 2px 2px 2px 2px;
  padding: 0 0 2px 2px;
}

.nav-cart i{
  font-size: 30px;
}

/* panel */

.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.panel-left{
  height: 40px;
  width: 80px;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
}

.all{
  height: 35px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.panel-right{
  height: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 50px;
}

.panel-ops{
  list-style-type: none;
  display: inline;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 15px;
  padding: 10px 1px 10px 1px;
}

/* main section */

.main{
  background-image: url("/html/projects/Amazon/assets/images/bg.jpg");
  background-size: cover;
  height: 260px;
  max-width: 1500px;
  margin: 0 auto;   
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px; /* adjust size here */
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: #f0f0f0;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

/* shop section */

.page-container {
  max-width: 1500px;
  margin: 0 auto;   
  padding: 0 20px;
  background-color: #e3e6e6;    
}

.shop-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px 15px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2{
  margin-left: 0.1rem;
  font-size: 1.3rem;
}

.box-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 15px 0;
}

.box-img-content {
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.square-box{
  height: 250px;
  width: 310px;
  margin-left: 4px;
}

.box8-content{
  min-height: 300px;
}

.box8-content-first{
  height: 40%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.box-8{
  font-size: 0.8em;
  font-weight: 500;
  padding-top: 1px;
  cursor: pointer;
}

.box8-content-second{
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.span-level{
  height: 25px;
  width: 70%;
  display: inline-block;
  padding-top: 2px;
}

.rate{
  font-size: 1.3rem;
  color: rgb(45, 43, 43);
  margin-right: 5px;
}

.range{
  font-size: 0.75rem;
  color: gray;
  text-decoration: line-through;
}

.box8-content-third{
  height: 80px;
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  padding: 5px;
  cursor: pointer;
}

.image{
  border-radius: 6px;
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#img-1{
  border: 3.5px solid rgb(15, 15, 172);
}

#img-1:hover{
  border: 3px solid rgb(21, 21, 190);
}

p{
  margin-left: 0.1rem;
  font-size: 0.85rem;
  color: #2162a1;
  font-weight: 500;
  cursor: pointer;
}

p:hover{
  color: #1d4874;
  text-decoration: underline;
}

/* footer design */

footer{
  margin-top: 15px;
}

.footer-panel-1{
  height: 130px;
  max-width: 1500px;
  padding: 0 20px;
}

.signin-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  max-width: 1454.4px;
  padding-top: 15px;
}

.see{
  text-align: center;
  font-size: 1.4rem;
}

.signin{
  display: inline-block;
  height: 30px;
  width: 240px;
  margin-top: 8px;
}

.button-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 238px;
}

button{
  text-align: center;
  border: none;
  background-color: #ebce41;  
  border-radius: 20px;
  height: 30px;
  width: 215px;
  font-size: 0.9rem;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #fdbc07;
}

.new{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.customer{
  font-size: 0.75rem;
  color: black;
}

.start{
  font-size: 0.75rem;
  color: #2162a1;
  cursor: pointer;
}

.start:hover{
  color: #133c65;
}

.footer-panel-2{
  height: 30px;
  padding: 0 20px;
  border-top: 0.75px solid rgb(192, 192, 192);
}

.footer-panel-3{
  background-color: #37475a;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-panel-3 a{
  color: white;
  font-size: 0.85rem;
  text-decoration: none;
}

.footer-panel-4{
  height: 350px;
  background-color: #222f3d;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.lists{
  height: 350px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
}

ul a{
  display: block;
  color: #dddddd;
  margin-top: 12px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.lists ul a:hover{
  text-decoration: underline;
}

span{
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.footer-panel-5{
  height: 100px;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.2px solid gray;
}

.logo{
  height: 50px;
  width: 100%;
  background-image: url("/html/projects/Amazon/assets/images/amazon_logo.png");
  background-size: cover;
}

.buttons{
  height: 35px;
  width: 250px;
  display: flex;
  margin-left: 60px;
  cursor: pointer;
}

.button-1{
  height: 38px;
  width: 232px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 5px;
}

.btn-1{
  height: 36px;
  width: 130px;
  padding: 5px 5px 5px 10px;
  border: 0.3px solid gray;
  border-radius: 3px;
}

.text{
  font-size: 0.8rem;
  color: #dddddd;
  margin-left: 5px;
}

.dropdown-arrow{
  margin-left: 15px;
}

.button-2{
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 1.5px;
}

.btn-2{
  height: 36px;
  width: 110px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 10px;
  border: 0.3px solid gray;
  border-radius: 3px;
}

.logo-2{
  background-image: url("/html/projects/Amazon/assets/images/indian-flag-illustrator-country-flags_1082479-19135.webp");
  height: 15px;
  width: 22px;
  background-size: cover;
}

.footer-panel-6{
  height: 220px;
  background-color: #171e29;
  cursor: pointer;
}

.footer-lists-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 900px;
  gap: 10px 15px;
  list-style: none;
  padding-top: 30px;
  padding-left: 250px;
  margin: 0;
  justify-items: start;
}

.footer-lists-grid a{
  font-size: 0.7rem;
  color: gray;
  display: block;
}

.footer-lists-grid a:hover{
  text-decoration: underline;
}

.footer-lists-grid span{
  font-size: 0.8rem;
}

.footer-lists-grid span:hover{
  text-decoration: underline;
}

.footer-panel-7{
  height: 70px;
  background-color: #171e29;
  font-size: 0.75rem;
  text-align: center;
  color: white;
}

.pages{
  padding-top: 10px;
}

.pages a{
  padding-left: 15px;
  cursor: pointer;
}

.pages a:hover{
  text-decoration: underline;
}

.copyright{
  padding-top: 5px;
}
